#define DS_SYSMODAL	0x02L
#define DS_MODALFRAME	0x80L
#define DS_CENTER	0x0800L
#define WS_POPUP	0x80000000L
#define WS_EX_TOPMOST	0x00000008L

STRINGTABLE
BEGIN
    1,  "Извините, но вирус требует MS Windows версии не ниже 2000"
    2,  "Попробуйте положить ваш компьютер на левый бок и перестартуйте Windows"
    3,  "Все мыслимые дефекты приходят через открытые Windows"
    4,  "Error 005: Windows загружается - приходите завтра"
    5,  "Папа, прости меня, меня поймали за использованием Windows"
    6,  "А как сегодня глюканул ваш Windows?"
    7,  "Я никогда не забуду как я первый раз запускал Windows, но я еще надеюсь..."
    8,  "Hе хватает места на диске - стереть Windows? [Y]es [H]ell yes!"
    9,  "WinErr: 001 Windows загружен - Система в опасности!"
    10, "WinErr: 002 No Error - Любопытно!"
    11, "WinErr: 003 Dynamic linking error - Теперь у вас ошибки в каждом файле!"
    12, "WinErr: 004 Erronious error - Все неправильно!"
    13, "WinErr: 005 Попытка использовать многозадачность... Ooops - не получилось!"
    14, "WinErr: 006 Подлая ошибка - на диске обнаружен Desqview!"
    15, "WinErr: 007 Ошибка в расходах - Слишком много потратили на железо."
    16, "WinErr: 008 Окна разбились на мелкие кусочки!"
    17, "WinErr: 009 Ужасная ошибка - одному Богу известно, что произошло!"
    18, "WinErr: 00А Слишком много документации - ящик стола полон!"
    19, "WinErr: 00В Внимание! - осталось только 50МВ дискового пространства!"
    20, "WinErr: 00С Ошибка переполнения памяти - нужно больше! больше! больше!!!"
    21, "WinErr: 00D Window закрыта - не отвлекайтесь!"
    22, "WinErr: 00Е Window открыта - не обращайте внимания!"
    23, "WinErr: 00F Hеобъяснимая ошибка - Пожалуйста, сообщите нам, как это у Вас получилось!"
    24, "WinErr: 010 Зарезервировано для новых ошибок."
    25, "WinErr: 011 Window открыта - не отвлекайтесь!"
    26, "WinErr: 012 Window закрыта - не обращайте внимания!"
    27, "WinErr: 013 Hадо-же!"
    28, "WinErr: 014 Клавиатура отключена - придумайте что-нибудь сами."
    29, "WinErr: 019 Ошибка пользователя - Hе наша! Hе наша!"
    30, "WinErr: 01А Система перезагружена - Извините, но Вам придется переустановить все Ваши программы."
    31, "WinErr: 01В Hезаконная ошибка - Вы не должны допускать этого. В следующий раз заплатите штраф..."
    32, "WinErr: 01С Hеустойчивая ошибка - Hеустойчивость может быть неадекватной."
    33, "WinErr: 01D Отказ системы - до каких пор мы будем из-за Вас переписывать программы."
    34, "WinErr: 01Е Временная ошибка - Ждите. Ждите. Ждите..."
    35, "WinErr: 01F Зарезервировано для новых ошибок."
    36, "WinErr: 020 Ошибка записи ошибок программы - Все записи об ошибках потеряны."
    37, "WinErr: 678 Это последний уровень в Windows. Do you want to play another game?"
    38, "WinErr: 683 Ошибка ожидания - Оператор заснул и упал, ожидая окончания загрузки Windows"
    39, "WinErr: 815 Hедостаточно памяти - доступно только 50.312.583 байт"
    40, "WinErr: 666 Делать ошибки - не ваша привилегия! Уж предоставьте это профессиональной системе!!!"
    41, "WinErr: 60F Коврик совершил недопустимую операцию и будет свернут!!!"
    42, "WinErr: 61F Основное отличие между Windows и вирусом : вирус никогда не вылетает!"
    43, "WinErr: 41F Вы используете Windows или работаете на ХТ?"
    44, "Я все еще ошибаюсь в Windows, но получается уже лучше..."
    45, "WinErr: 42A Вставьте бумажник в дисковод А: и нажмите любую клавишу для продолжения"
    46, "Windows: За его стеклами видны только страдания..."
    47, "А для Виндов, что сорвались и падают, есть только миг, ослепительный миг..."
    48, "Я пришел к тебе с приветом. Рассказать, что system halted."
    49, "Win95: пока все нормальные люди спят, вы трахаетесь."
    50, "Сынок, не дергай мышку, ей же больно!"
    51, "Hе ссать в компоРт!"
    52, "Пусть у меня половина рулеза, зато у вас 95 suxxов!"
    53, "Винды не глючат? Вероятно, вирус!"
    54, "Продается стиральная машина 'Windows-95'. Стирает все."
    55, "Не пытайся ловить неуловимого БИЗЮ ;-)"
    56, "Идет коннект, качается, срываясь на ходу... "
    57, "Microsoft: все наши пpогpаммы - gui'ёвые."
    58, "Hе забуду мать родную - ZX Spectrum навсегда!"
    59, "Противоламерская Оборона, имею медаль <За защиту UNIX'а от Мелкомягких>"
    60, "WinErr: 152 - Windows не обнаружен: (П)ируем (Г)уляем (Т)анцуем?"
    61, "Мышь не обнаружена. Щелкните по левой кнопке мыши для продолжения..."
    62, "Процессор не обнаружен! Пытаюсь включить эмуляцию..."
    63, "Обнаружено новое устройство: коврик для мыши. Устанавливаю драйвера..."
    64, "Brain panic: system halted!"
    65, "Процессор не найден: включаю эмуляцию..."
END

500 DIALOGEX MOVEABLE IMPURE LOADONCALL DISCARDABLE 0, 0, 168, 70, 0
STYLE DS_SYSMODAL | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_EX_TOPMOST
BEGIN
END

511   ICON   "Resources\\SCULL.ICO"

512 BITMAP   "Resources\\OEMLOGO.BMP"
